@font-face {
    font-family: "Helvetica";
    src: url(fonts/Helvetica.ttf) format("truetype");
}
*{
	margin:0px;
	padding: 0px;
	font-family: Helvetica;
	color: #fff;

}
#slidebar{
	position: fixed;
	width: 1000px;
	height: 100%;
	background-color: rgba(23,173,236,0.9);
	left: -1000px;
	transition: all 500ms linear;

}
#slidebar.active{
	left: 0px;

}
#blur{
	position: fixed;
	width: 1000px;
	height: 100%;
	ackground-color: #000;
	left: -1000px;
	transition: all 500ms linear;
	filter: blur(5px);
}
#blur.active{
	left: 0px;
	filter: blur(5px);
}

#slidebar ul li{
	color: rgb(230,230,230,0.9);
	list-style: none;
	padding:10px 10px;
	width: 90%;
	height:55px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	border-bottom: 2px solid rgb(255, 255, 255,0.3);

}
div.barra{
	position: absolute;
	height: 35px;
	width: 0px;
	background-color: #fff;
	opacity: .4;
	-webkit-transition: width .2s;
}

li:hover div.barra{
	width:950px;
	cursor: pointer;
	color: #fff;
	background-color: #fff;
}

p.menu{
	position: relative;
	padding:10px;
	padding-left: : 25px;
	float:left;
	color:white;
	/*opacity: .6;*/
	font-size: 1.0em;
	-webkit-transition: opacity .2s;
}
#slidebar .toggle-btn{
	position: absolute;
	left: 1030px;
	top: 20px;
	cursor: pointer;
}
#slidebar .toggle-btn span{
	display: block;
	width: 30px;
	height: 5px;
	background: #151719;
	margin: 5px 0px;
}



#menu2{
  float: right;
	width: 270px;
	height: 50px;
  margin-right: 2%;
  margin-top: 2%;
  top: 0px;
	background-color: rgb(23,173,236);
	left: 0px;
 
	transition: all 500ms linear;

}
